/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f57c00;
  --color-secondary: #ffa000;
  --color-neutral: #07000B;
  --color-base-100: #f5f5f5;
}

/* font all add  */
* {
  font-family: "Inter", sans-serif;
}

/* my bg color */
.my_bg{
  @apply bg-linear-to-r from-primary to-secondary
}

/* my button */
.my_btn {
  @apply py-2 px-6 rounded-md text-white bg-gradient-to-r from-primary to-secondary hover:scale-105 hover:brightness-110 duration-300 transition-all cursor-pointer
}

.my_btn_outline {
  @apply py-2 px-6 rounded-md btn btn-outline hover:bg-primary border-primary hover:text-white border-2
}

.my_input{
  @apply py-1.5 px-2 w-full outline outline-gray-200 rounded-full  outline-offset-2 focus:outline-primary
}

.my_input_box{
  @apply py-1.5 px-2 w-full outline outline-gray-200 rounded-md  outline-offset-2 focus:outline-primary
}

.my_label{
  @apply label mb-2 text-gray-500
}

.link_style{
  @apply flex items-center gap-2 border-b-gray-200 border-b py-1.5
}

html{
  scroll-behavior: smooth;
}
